.LoginPage {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 40px;
}

.Container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    width: 1280px;
    height: 623px;

    gap: 20px;
    
}

.Title {
    font-size: 36px;
    font-weight: bold;
}

.Inputs {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

.Inputs>input{
    width: 310px;
    height: 48px;
    background-color: #CDCDCD;

    text-align: center;
    
    border: none;
    border-radius: 30px;
}

.Inputs>button{
    width: 310px;
    height: 48px;
    background: linear-gradient(90deg, #F8BF2F 0%, #FFD059 100%);

    text-align: center;
    
    border: none;
    border-radius: 30px;
}

.Inputs>button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #f7c750 0%, #fad77f 100%);
}

.UsefullLinks {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.UsefullLinks>.NormalLink {
    color: #000000;
    text-decoration: none;

    width: 175px;
    height: 29px;
}

.UsefullLinks>.AccentLink{
    text-decoration: none;
    color: #F8BF2F;

    width: 120px;
    height: 29px;
}