/* Ссылка на фигму https://www.figma.com/design/SXm8IOV74uzrgzUa6LpgRW/%D0%A1%D0%BF%D0%B8%D1%80%D0%B8%D0%B4%D0%BE%D0%BD%D0%BE%D0%B2_%D0%A0%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD_%D0%91%D1%80%D0%B8%D1%84?node-id=241-888&t=V3mKlVaI8G5cTnNa-1 */
/* Тут переменные  */

:root{
    --black-color: #252525;
    --white-color: #fbfbfb;
    --yellow-color: linear-gradient(#F8BF2F, #FFD059);
    --yellow-color-hovered: linear-gradient(#FFCD4E, #FFE092);

    --h1-text:36px;
    --h2-text:30px;
    --h3-text:24px;
    --big-text:20px;
    --normal-text:18px;
    --small-text:14px;
    --button-text:18px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    
    background-color: var(--black-color);

    width: 100%;
    border-radius: 40px;

    align-items: center;
    justify-content: left;
}

header>.buttons{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 31.65px;

    font-size: var(--normal-text);
}

main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;

    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

h1{
    font-family: serif;

    text-align: center;
    font-size: var(--h1-text);

    color: var(--white-color);
}

h2{
    font-family: serif;

    text-align: center;
    font-size: var(--h2-text);
    
    color: var(--black-color);
}

h3{
    font-family: serif;

    text-align: center;
    font-size: var(--h3-text);

    color: var(--black-color);
}

p{
    font-size: var(--normal-text);
}

.container  {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 1280px;

    gap: 40px;
}

.logo{
    width: 71px;
    height: 50px;

    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 24px;
    margin-right: 506px;
    
}

.hero { 
    display: flex;
    flex-direction: row;

    background-color: var(--black-color);  /* Надо переделать. Он должен быть градиентом ГРАДИЕНТ РАБОТАЕТ ТОЛЬКО С BACKGROUND-IMAGE */
    border-radius: 30px;

    align-items: center;
    justify-content: center;

    width: 1280px;
    height: 647px;
}

.heroButtons{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;    
    gap: 36.7px;

}

.yellowButton{
    width: 200px;
    height: 60px;

    background-image: var(--yellow-color);

    font-size: var(--button-text);
    font-weight: bold;

    border: none;
    border-radius: 20px;
}
.whiteButton{
    width: 200px;
    height: 60px;

    background-color: var(--white-color);

    font-size: var(--normal-text);
    font-weight: bold;

    border: none;
    border-radius: 20px;
}

.describtion{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: var(--white-color);

    text-align: center;
}

.our-advantages{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 20px;

}

.cards{
    display: flex;
    flex: row;

    align-items: center;
    justify-content: center;

    gap: 60px;
}

.advantage-card{
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 230px;

    padding: 30px;

    background-color: var(--black-color);
    color: var(--white-color);

    border: none;
    border-radius: 50px;
}

.advantage-card>.card-header{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: left;
    
}

.advantage-card>.card-header>img{
    width: 65px;
    height: 65px;
}

.advantage-card>.card-header>h3{
    color: var(--white-color);
    width: 200px;
}

.reviews{
    display: flex;
    flex-direction: column;

    background-color: var(--black-color);

    justify-content: top;
    align-items: center;

    height: 540px;
    
    padding-bottom: 30px;
    gap: 10px;
    
}

.reviews>h2{
    color: var(--white-color);
}

.reviews>.cards{
    height: 432px;
    width: 890px;

    gap: 115px;
}

.review-card{
    display: flex;
    flex-direction: row;

    background-color: var(--white-color);

    padding: 30px;

    border: none;
    border-radius: 50px;

    height: 370px;
    width: 830px;
}

.review-card>.user-info{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 17px;
}

.arrow-right{
    width: 80px;
    height: 50px;

    background-color: var(--white-color);

    border: none;
    border-radius: 50px;
}

.arrow-left{
    width: 80px;
    height: 50px;

    background-color: var(--white-color);

    border: none;
    border-radius: 50px;
}

