@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
    font-family: "Onest";
}

header {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;

    list-style-type: none;
}