.Reviews {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto ;

    width: 1280px;
}

.blockHeader{
    font-size: 30px;

    margin-bottom: 80px;
}

.ReviewContainer {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 1280px;
    height: 538px;

    border-radius: 20px;

    background: linear-gradient(90deg, #2D3236 0%, #090D10 60%);

    padding-top: 36px;
    padding-bottom: 36px;

    gap: 81px;
}

.ReviewCard {
    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: center;

    border-radius: 20px;
    width: 893px;
    height: 432px;

    background: white;
    color: Black;

    padding: 36px;
    gap: 60px;
}

.PersonalInfo {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: left;

    width: 257px;
    height: 370px;

    gap: 17px;
}

.PersonalInfo>h3 {
    font-size: 24px;
    font-weight: bold;
}

.PersonalInfo>img {
    width: 240px;
    height: auto;

    border-radius: 20px;
}

.ReviewContent {
    display: flex;
    flex-direction: column;

    width: 514px;
    height: 370px;

    gap: 20px;
}

.Stars{
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.WhatUserSays{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: left;

    width: 514px;
    height: 310px;

}

.ReviewText{
    align-items: left;
    justify-content: center;
}

.ReviewText>p{
    font-size: 18px;
    font-style: normal;

    text-align: left;
}

.PhotoBlock{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.PhotoBLock>img{
    width: 87px;
    height: auto;
}

/* Общие стили для обеих кнопок, чтобы не дублировать код */
.MoveLeft, .MoveRight {
    display: flex; /* Включаем flex, чтобы иконка внутри встала по центру */
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    flex-shrink: 0; /* Жестко запрещаем сжимать кнопки по ширине */

    border: none;
    border-radius: 50px;
    background-color: #222222;
    cursor: pointer;

    transition: background-color 0.2s ease, transform 0.1s ease; /* Плавная анимация */
}

/* Эффект при наведении курсора */
.MoveLeft:hover, .MoveRight:hover {
    background-color: #333333;
}

/* Эффект при клике (слегка уменьшаются) */
.MoveLeft:active, .MoveRight:active {
    transform: scale(0.95);
}

/* Индивидуальные отступы */
.MoveLeft {
    margin-left: 17px;
}

.MoveRight {
    margin-right: 17px;
}