.CardContainer {
    display: flex;
    flex-direction: column;

    width: 220px;
    height: 343px;

    border-radius: 40px;
    background: linear-gradient(90deg, #2D3236 0%, #090D10 60%);

    justify-content: space-between;
    align-items: center;

    color: white;

    text-decoration: none;
    
}

.DishPhoto {
    width: 220px;
    height: 220px;

    border-radius: 40px;

    object-fit: cover;
    object-position: center;

    border: none;
    
}

.DishName{
    font-size: 18px;
    font-weight: bold;

    margin-top: 0px;
    margin-bottom: 4px;
}

.DishPrice {
    font-size: 18px;
    font-weight: lighter;

    padding-bottom: 5px;
}

.BuyButton {
    width: 120px;
    height: 48px;

    border-radius: 10px;
    border: none;

    background: linear-gradient(90deg, #F8BF2F 0%, #FFD059 100%);

    font-size: 14px;
    font-weight: bolder;

    margin-bottom: 15px;
}

.BuyButton:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #f2d790 0%, #FFD059 100%);
}